@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
    
body {
    background-image: linear-gradient(to right, #EDCCC5 20%, #BBEEEF, #00BCC7);
    background-attachment: fixed;
    font-size: 20px;
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.514);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #02575c;
    text-align: center;
    text-shadow: 1px 1px 2px #aa6457;
    font-family: 'Rampart One', cursive;
}

h2 {
   color: #014d4e98;
   font-family: 'Roboto Slab', serif;
}

:is(h1, h2):hover {
    cursor:pointer
}

p {
    text-align: justify;
    text-indent: 30px;
}